.title {
    /* padding-left: 70px;  */
  }
.wrapper {
    padding: 70px; 
  }
.photo {
  width: 200px;
  border-radius: 8px;
}
.uploader {
    padding-bottom: 30px; 
  }
.gallery {
padding-bottom: 20px; 
}